/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
  /* colors */
  --clr-dark: 212, 21%, 14%;
  --clr-accent: 228, 12%, 48%;
  --clr-white: 0 0% 100%;
  --clr-dark-cyan: 158, 36%, 37%;
  --clr-cream: 30, 38%, 92%;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Fraunces", serif;
  --ff-sans-normal: "Montserrat", sans-serif;

  /* page sizes */
  --ss-mobile: 21.4375em;
  --ss-desktop: 37.5em;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 500;
}

/* set up the body */
body {
  background-color: hsl(var(--clr-cream));
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-200);
}

/* responsive images */
img {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utility classes */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 1000;
  background: hsl( var(--clr-white));
  color: hsl( var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

.p-0 {
  padding: 0;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.pi-1 {
  padding-inline: 1rem
}
.pi-2 {
  padding-inline: 2rem;
}
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.mbl-1 {
  margin-block: 1rem;
}
.mbl-2 {
  margin-block: 2rem;
}


/* colors */

.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-accent { background-color: hsl( var(--clr-accent) );}
.bg-white { background-color: hsl( var(--clr-white) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-accent { color: hsl( var(--clr-accent) );}
.text-white { color: hsl( var(--clr-white) );}
.text-dark-cyan { color: hsl( var(--clr-dark-cyan))}

/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.strike {
  text-decoration: line-through;
}

/* button */

.large__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(var(--clr-dark-cyan));
  width: 100%;
  height: 2.5rem;
  font-size: var(--fs-400);
  color: hsl( var(--clr-white));
  border-radius: 8px;
  text-decoration: none;
}

.large__button > span::before {
  content: "";
  background-image: url(./images/icon-cart.svg);
  background-repeat: no-repeat;
  margin-right: .75rem;
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

/* container */

.container {
  background: hsl(var(--clr-white));
  max-width: var(--ss-mobile);
  margin: 2rem auto;
  border-radius: 10px;
}

.container__header > img {
  border-radius: 10px 10px 0 0;
}

.container__body {
  padding: 1rem;
}

.container__body h1 {
  color: hsla( var(--clr-dark), .85);
}

/* attribution to Frontend Mentor */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
